html, body {
	font: 14px/1.21 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	padding: 0;
	margin: 0;
}

h1 {
	text-align: center;
}

.signup{
	border: 1px solid #E2E2E2;
	max-width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.signup-form{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 300px;
	height: 80px;
	font-size: 30px;
	color: white;
	background-color: #FF5722;
	border: 1px solid #F55320;
}

input{
	text-indent: 10px;
	width: 280px;
	height: 35px;
	border: none;
	border-radius: 50px;
	background-color: rgba(2, 2, 2, 0.07);
    border: 1px solid rgba(0, 0, 0, 0.02);
}

input:focus{
	outline: none;
}

p{
	font-size: 15px;
}

.signup-btn{
	margin-top: 20px;
	width: 260px;
	margin-bottom: 60px;
	height: 35px;
	font-size: 15px;
	border: none;
	border-radius: 50px;
	cursor: pointer;color: white;
	background-color: #FF5722;
	border: 1px solid #F55320;
}