html, body {
	font: 14px/1.21 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
}

h1 {
	text-align: center;
}

.signup{
	background-color: aqua;
	max-width: 300px;
}

.signup-form{
	font-size: 35px;
	text-align: center;
}

input{
	width: 280px;
	height: 20px;
}

p{
	font-size: 20px;
}

.signup-btn{
	margin-top: 10px;
}